@model IEnumerable<CRM.Enquiry>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseInterest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseInterest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EnquiryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EnquiryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EnquiryID })
        </td>
    </tr>
}

</table>
